<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>사원 전체 조회</h1>
    <table border="1">
        <tr>
        <th>사번</th>
        <th>패스워드</th>
        <th>이름</th>
        <th>이메일</th>
        <th>출근상태</th>
        <th>로그인 실패 횟수</th>
        </tr>

        <tr th:each="asd : ${list}" align="center">
            <td th:text="${asd.id}"></td>
            <td th:text="${asd.pw}"></td>
            <td th:text="${asd.name}"></td>
            <td th:text="${asd.email}"></td>
            <td th:text="${asd.accountStatus}"></td>
            <td th:text="${asd.failCount}"></td>
        </tr>
    </table>
</body>
</html>