<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.login.model.dao.LoginMapper">

    <resultMap id="login" type="com.semi.lynk.function.login.model.dto.LoginDTO">
        <id property="empNo" column="employee_no"/>
        <result property="empPwd" column="password"/>
        <result property="empName" column="employee_name"/>
        <result property="email" column="email"/>
        <result property="empStatus" column="member_status"/>
        <result property="loginFailCount" column="login_fail_count"/>
        <result property="workingStatus" column="working_status"/>
        <result property="deptNo" column="department_no"/>
<!--        <result property="role" column=""/>-->
    </resultMap>

    <insert id="addEmployee" parameterType="com.semi.lynk.function.login.model.dto.EmpAddDTO">
        INSERT INTO EMPLOYEE
        (EMPLOYEE_NO, EMPLOYEE_NAME, PASSWORD, EMAIL, MEMBER_STATUS, LOGIN_FAIL_COUNT, WORKING_STATUS, DEPARTMENT_NO, IMAGE)
        VALUES
        (#{userID}, #{userName}, #{userPass}, #{email}, 1, 0, 0, #{deptNo}, 0000)
    </insert>

    <select id="findByUsername" resultMap="login">
        SELECT EMPLOYEE_NO
             , PASSWORD
             , EMPLOYEE_NAME
             , EMAIL
             , MEMBER_STATUS
          FROM EMPLOYEE
         WHERE EMPLOYEE_NO = #{empName}
    </select>

</mapper>