<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.login.model.dao.LoginMapper">

    <resultMap id="login" type="com.semi.lynk.function.login.model.dto.LoginDTO">
        <id property="empNo" column="employee_no"/>
        <result property="empPwd" column="password"/>
        <result property="empName" column="employee_name"/>
        <result property="email" column="email"/>
        <result property="empStatus" column="member_status"/>
        <result property="loginFailCount" column="login_fail_count"/>
        <result property="workingStatus" column="working_status"/>
        <result property="deptNo" column="department_no"/>
        <result property="depName" column="department_name"/>
        <result property="position" column="position"/>
    </resultMap>

    <insert id="addEmployee" parameterType="com.semi.lynk.function.login.model.dto.EmpAddDTO">
        INSERT INTO EMPLOYEE
        (EMPLOYEE_NO, EMPLOYEE_NAME, PASSWORD, EMAIL, MEMBER_STATUS, LOGIN_FAIL_COUNT, WORKING_STATUS, DEPARTMENT_NO, IMAGE)
        VALUES
        (#{userID}, #{userName}, #{userPass}, #{email}, 1, 0, 0, #{deptNo}, #{image})
    </insert>

    <select id="findByUsername" resultMap="login">
        SELECT a.EMPLOYEE_NO
             , a.PASSWORD
             , a.EMPLOYEE_NAME
             , a.EMAIL
             , a.MEMBER_STATUS
             , b.DEPARTMENT_NAME
             , c.POSITION
          FROM EMPLOYEE a
          JOIN DEPARTMENT b ON a.DEPARTMENT_NO = b.DEPARTMENT_NO
          LEFT JOIN HUMAN_RESOURCE c ON a.EMPLOYEE_NO = c.EMPLOYEE_NO
         WHERE a.EMPLOYEE_NO = #{empName}
    </select>

    <!-- 로그인/아웃 시간 삽입 -->
    <insert id="insertLoginLog">
        INSERT INTO LOGIN_DATA
        (LOGIN_STATUS, LOGIN_TIME, EMPLOYEE_NO)
        VALUE
        (#{loginStatus}, #{loginTime}, #{empNo})
    </insert>

    <!-- 사용자 가장 최근 로그인 기록 -->
    <select id="selectLatestLogByEmpNo" resultType="com.semi.lynk.function.login.model.dto.LoginLogDTO">
          SELECT EMPLOYEE_NO
               , LOGIN_STATUS
               , LOGIN_TIME
            FROM LOGIN_DATA
           WHERE EMPLOYEE_NO = #{empNo}
        ORDER BY LOGIN_TIME DESC
           LIMIT 1
    </select>

    <select id="selectLogsByEmpNo" resultType="com.semi.lynk.function.login.model.dto.LoginLogDTO">
          SELECT EMPLOYEE_NO
               , LOGIN_STATUS
               , LOGIN_TIME
            FROM LOGIN_DATA
           WHERE EMPLOYEE_NO = #{empNo}
        ORDER BY LOGIN_TIME DESC
    </select>

</mapper>