<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.electronic_payment.model.dao.PaymentMapper">

    <!--employee DTO -->
    <resultMap id="findAllApprovertMap"
               type="com.semi.lynk.function.electronic_payment.model.dto.EmployeeAndEctJoinDTO">
        <id property="employeeNo" column="employee_no"/>
        <result property="employeeName" column="employee_name"/>
        <association property="authorizationDTO" javaType="com.semi.lynk.function.electronic_payment.model.dto.AuthorizationDTO">
            <result property="authOfDocument" column="auth_of_document"/>
        </association>
        <association property="departmentDTO" javaType="com.semi.lynk.function.electronic_payment.model.dto.DepartmentDTO">
            <id property="departmentNo" column="department_no"/>
            <result property="departmentName" column="department_name"/>
        </association>
        <association property="humanResourceDTO" javaType="com.semi.lynk.function.electronic_payment.model.dto.HumanResourceDTO">
            <id property="employeeNo" column="employee_no"/>
            <result property="position" column="position"/>
        </association>
    </resultMap>

    <!-- 결재자 선택을 위한 join  -->
    <select id="findAllApprover" resultMap="findAllApprovertMap">
        select
          a.employee_no
        , a.employee_name
        , b.auth_of_document
        , c.position
        , d.department_no
        , d.department_name
        from
        employee a
        join authorization b on (a.employee_no = b.employee_no)
        join human_resource c on (a.employee_no = c.employee_no)
        join department d on (a.department_no = d.department_no)
        where
        b.auth_of_document = 1;
    </select>

    <!-- 결재선 추가 -->
    <insert id="insertApprover">
        INSERT INTO approve (approver, autho_memo, draft_no, employee_no)
        VALUES (#{approver}, #{authoMemo}, #{draftNo}, #{employeeNo})
    </insert>

</mapper>