<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.model.dao.EmployeeMapper">

    <resultMap id="listResultMap" type="com.semi.lynk.model.dto.EmployeeDTO">
        <id property="id" column="emp_id"/>
        <result property="pw" column="emp_pw"/>
        <result property="name" column="emp_name"/>
        <result property="email" column="emp_email"/>
        <result property="accountStatus" column="account_status"/>
        <result property="failCount" column="fail_count"/>
<!--        <association property="departmentDTO" javaType="com.semi.lynk.model.dto.DepartmentDTO">-->
<!--            <id property="depNo" column="dep_no"/>-->
<!--            <result property="depName" column="dep_name"/>-->
<!--        </association>-->
    </resultMap>

    <select id="employeeFullList" resultMap="listResultMap">
        select
            *
        from
            employee;
    </select>

</mapper>