<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.notice_board.model.dao.NoticeMapper">
    <resultMap id="noticeResultMap" type="com.semi.lynk.function.notice_board.model.dto.NoticeDTO">
        <id property="noticeNo" column="notice_no"/>
        <result property="noticeDate" column="notice_date"/>
        <result property="noticeVote" column="notice_vote"/>
        <result property="noticeTitle" column="notice_title"/>
        <result property="noticeContent" column="notice_content"/>
        <result property="noticeHide" column="notice_hide"/>
        <result property="viewerCount" column="viewer_count"/>
        <result property="employeeNo" column="employee_no"/>
        <result property="noticePreNo" column="notice_preno"/>
        <result property="employeeName" column="employee_name"/>
    </resultMap>

    <insert id="insertNotice" parameterType="com.semi.lynk.function.notice_board.model.dto.NoticeDTO">
        INSERT INTO notice (notice_date, notice_vote, notice_title, notice_content, notice_hide, viewer_count, employee_no, notice_preno)
        VALUES (#{noticeDate}, #{noticeVote}, #{noticeTitle}, #{noticeContent}, #{noticeHide}, #{viewerCount}, #{employeeNo}, #{noticePreNo})
    </insert>

    <select id="getAllNotices" resultMap="noticeResultMap">
        SELECT
        notice_no, notice_date, notice_vote, notice_title, notice_content, notice_hide, viewer_count, employee_no, employee_name, notice_preno
        FROM
        notice join employee using(employee_no)
        ORDER BY
        notice_date DESC
    </select>

    <select id="selectNoticeById" parameterType="Long" resultMap="noticeResultMap">
        SELECT
        notice_no, notice_preno, notice_date, notice_vote, notice_title, notice_content, notice_hide, viewer_count, employee_no, employee_name
        FROM
        notice join employee using(employee_no)
        WHERE notice_no = #{noticeNo}
    </select>

    <update id="updateNotice" parameterType="Long">
        UPDATE notice set
        notice_hide = 1,
        WHERE notice_no = #{noticeNo}
    </update>

    <delete id="deleteNotice" parameterType="Long">
        DELETE FROM notice WHERE notice_no = #{noticeNo}
    </delete>

    <update id="updateViewCnt">
        update notice set
        viewer_count = viewer_count +1
        where notice_no = #{noticeNo}
    </update>


</mapper>