<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.human.model.dao.CalendarMapper">

    <resultMap id="selectResultMap" type="com.semi.lynk.function.human.model.calendar.CalendarDTO">
        <id property="id" column="employee_no"/>
        <result property="title" column="id"/>
        <result property="approveTime" column="approve_completion_time"/>
        <result property="draftTime" column="draft_completion_time"/>
        <result property="approver" column="approver"/>
        <association property="humanDTO" javaType="com.semi.lynk.function.human.model.dto.HumanDTO">
            <id property="id" column="employee_no"/>
            <result property="totalLeave" column="totalLeave"/>
            <result property="usedLeave" column="usedLeave"/>
            <result property="position" column="position"/>
        </association>
        <association property="commuteDTO" javaType="com.semi.lynk.function.human.model.calendar.CommuteDTO">
            <id property="id" column="employee_no"/>
            <result property="workDate" column="work_date"/>
            <result property="workOn" column="work_on"/>
            <result property="workOff" column="work_off"/>
            <result property="workOnOutside" column="work_on_outside"/>
            <result property="workOffOutside" column="work_off_outside"/>
        </association>
        <association property="scheduleDTO" javaType="com.semi.lynk.function.human.model.calendar.ScheduleDTO">
            <id property="id" column="employee_no"/>
            <result property="scheduleBound" column="schedule_bound"/>
            <result property="scheduleDate" column="schedule_date"/>
            <result property="scheduleType" column="schedule_type"/>
            <result property="scheduleNote" column="schedule_note"/>
        </association>
        <association property="employeeDTO" javaType="com.semi.lynk.function.human.model.dto.EmployeeDTO">
            <id property="id" column="employee_no"/>
            <result property="name" column="employee_name"/>
        </association>
        <association property="dayOffDTO" javaType="com.semi.lynk.function.human.model.calendar.DayOffDTO">
            <id property="id" column="employee_no"/>
            <result property="leaveDate" column="leave_date"/>
            <result property="leaveType" column="leave_type"/>
            <result property="leaveMemo" column="leave_memo"/>
        </association>
        <association property="departmentDTO" javaType="com.semi.lynk.function.human.model.dto.DepartmentDTO">
            <result property="depName" column="department_name"/>
        </association>
    </resultMap>

    <!-- 근태관리 들어갔을 때 캘린더에 일정 보여주는 select!! -->
    <select id="showCalendar" resultMap="selectResultMap">
        select
             a.employee_name
            ,b.position
            ,b.totalLeave
            ,b.usedLeave
            ,c.work_off
            ,d.schedule_bound
            ,d.schedule_date
            ,e.leave_type
            ,e.leave_date
            ,f.department_name
        from
        employee a
            join human_resource b on (a.employee_no = b.employee_no)
            join working_time_data c on (a.employee_no = c.employee_no)
            join schedule d on (a.employee_no = d.employee_no)
            join dayoff e on (a.employee_no = e.employee_no)
            join department f on (a.department_no = f.department_no)
    </select>

    <select id="showMyAppStatus" resultMap="selectResultMap">
        select distinct
             a.employee_name
            ,b.approver
            ,h.schedule_bound
            ,h.schedule_date
            ,c.leave_date
            ,c.leave_type
            ,d.work_on
            ,d.work_off
            ,e.department_name
            ,f.position
            ,g.draft_completion_time
            ,b.approve_completion_time
        from employee a
            join approve b on (a.employee_no = b.employee_no)
            join dayoff c on (a.employee_no = c.employee_no)
            join working_time_data d on (a.employee_no = d.employee_no)
            join department e on (a.department_no = e.department_no)
            join human_resource f on (a.employee_no = b.employee_no)
            join draft g on (a.employee_no = g.employee_no)
            join schedule h on (a.employee_no = h.employee_no)
    </select>

    <select id="vacationAppMapper" resultMap="selectResultMap">
    select distinct
        a.employee_no
        ,a.employee_name
        ,c.totalLeave
        ,c.usedLeave
        ,d.leave_type
        ,d.leave_date
        ,e.schedule_date
        ,e.schedule_bound
    from employee a
        join department b on (a.department_no = b.department_no)
        join human_resource c on (a.employee_no = c.employee_no)
        join dayoff d on (a.employee_no = d.employee_no)
        join schedule e on (a.employee_no = e.employee_no)
    where
        a.employee_no = 12
    </select>

<!--    <update id="vacAppUpdateMapper" parameterType="com.semi.lynk.function.human.model.calendar.VacationApplicationDTO">-->
<!--        update-->
<!--    </update>-->
</mapper>