<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.human.model.dao.CalendarMapper">

    <resultMap id="selectResultMap" type="com.semi.lynk.function.human.model.calendar.CalendarDTO">
<!--        <id property="id" column="employee_no"/>-->
<!--        <result property="title" column="id"/>-->
<!--        <result property="approveTime" column="approve_completion_time"/>-->
<!--        <result property="draftDate" column="draft_date"/>-->
<!--        <result property="draftTime" column="draft_completion_time"/>-->
        <association property="humanDTO" javaType="com.semi.lynk.function.human.model.dto.HumanDTO">
<!--            <id property="id" column="employee_no"/>-->
            <result property="totalLeave" column="totalLeave"/>
            <result property="usedLeave" column="usedLeave"/>
            <result property="position" column="position"/>
        </association>
        <association property="commuteDTO" javaType="com.semi.lynk.function.human.model.calendar.CommuteDTO">
<!--            <id property="id" column="employee_no"/>-->
            <result property="workDate" column="work_date"/>
            <result property="workOn" column="work_on"/>
            <result property="workOff" column="work_off"/>
            <result property="workOnOutside" column="work_on_outside"/>
            <result property="workOffOutside" column="work_off_outside"/>
        </association>
        <association property="scheduleDTO" javaType="com.semi.lynk.function.human.model.calendar.ScheduleDTO">
<!--            <id property="id" column="employee_no"/>-->
            <result property="scheduleStartDate" column="schedule_start_date"/>
            <result property="scheduleEndDate" column="schedule_end_date"/>
            <result property="scheduleType" column="schedule_type"/>
            <result property="scheduleNote" column="schedule_note"/>
        </association>
        <association property="employeeDTO" javaType="com.semi.lynk.function.human.model.dto.EmployeeDTO">
            <id property="id" column="employee_no"/>
            <result property="name" column="employee_name"/>
        </association>
        <association property="dayOffDTO" javaType="com.semi.lynk.function.human.model.calendar.DayOffDTO">
<!--            <id property="id" column="employee_no"/>-->
            <result property="leaveStartDate" column="leave_start_date"/>
            <result property="leaveEndDate" column="leave_end_date"/>
            <result property="leaveType" column="leave_type"/>
            <result property="leaveMemo" column="leave_memo"/>
        </association>
        <association property="departmentDTO" javaType="com.semi.lynk.function.human.model.dto.DepartmentDTO">
            <result property="depName" column="department_name"/>
        </association>
        <association property="draftshDTO" javaType="com.semi.lynk.function.human.model.calendar.DraftshDTO">
            <result property="draftTitle" column="draft_title"/>
            <result property="draftDate" column="draft_date"/>
            <result property="draftState" column="draft_state"/>
            <result property="draftCurrentStep" column="draft_current_step"/>
            <result property="draftLastStep" column="draft_last_step"/>
            <result property="draftCompletionTime" column="draft_completion_time"/>
            <result property="draftMemo" column="draft_memo"/>
        </association>
    </resultMap>

    <!-- 근태관리 들어갔을 때 캘린더에 일정 보여주는 select!! -->
    <select id="showCalendarSelect" resultMap="selectResultMap">
        select *
        from employee a
            join human_resource c on (a.employee_no = c.employee_no)
            join department e on (a.department_no = e.department_no)
            left join dayoff b on (a.employee_no = b.employee_no)
            left join schedule f on (a.employee_no = f.employee_no)
        where a.employee_no = '12'
<!--        left로 걸어야 연장근무든, 휴가든 데이터 지웠을 때 해당 데이터만 삭제-->
    </select>

<!--    내 신청 현황 드가면 보여지는 데이터들 -->
        <select id="showMyAppStatus" resultMap="selectResultMap">
            select
                b.draft_state,
                a.leave_type,
                e.department_name,
                c.employee_name,
                d.position,
                b.draft_date,
                b.draft_completion_time
            from
            dayoff a
                join draftsh b on (a.draft_no = b.draft_no)
                join employee c on (a.employee_no = c.employee_no)
                join human_resource d on (c.employee_no = d.employee_no)
                join department e on (c.department_no = e.department_no)
                 join schedule f on (c.employee_no = f.employee_no)
        </select>

    <resultMap id="vacationStatusMapper" type="com.semi.lynk.function.human.model.calendar.VacationApplicationDTO">
        <id property="id" column="employee_no"/>
        <result property="name" column="employee_name"/>
        <result property="totalLeave" column="totalLeave"/>
        <result property="usedLeave" column="usedLeave"/>
        <result property="leaveType" column="leave_type"/>
        <result property="scheduleStartDate" column="schedule_start_date"/>
        <result property="scheduleEndDate" column="schedule_end_date"/>
        <result property="leaveStartDate" column="leave_start_date"/>
        <result property="leaveEndDate" column="leave_end_date"/>
    </resultMap>

    <!-- 휴가 신청 누를 때 데이터 가져와서 보여주는 애 -->
    <select id="vacationAppMapper" resultMap="vacationStatusMapper">
    select distinct
         a.employee_no
        ,a.employee_name
        ,c.totalLeave
        ,c.usedLeave
<!--        ,d.leave_type-->
<!--        ,d.leave_start_date-->
<!--        ,d.leave_end_date-->
<!--        ,e.schedule_start_date-->
<!--        ,e.schedule_end_date-->
    from employee a
        join department b on (a.department_no = b.department_no)
        join human_resource c on (a.employee_no = c.employee_no)
<!--        join dayoff d on (a.employee_no = d.employee_no)-->
<!--        join schedule e on (a.employee_no = e.employee_no)-->
<!--    where-->
<!--        a.employee_no = 12-->
        <!-- 이 사번은 나중에 로그인 연동 할 거-->
    </select>

    <select id="vacAppDayOffCount" resultType="int">
        SELECT COALESCE(MAX(draft_no), 0)
             FROM dayoff
        WHERE employee_no = 12
    </select>

    <update id="vacAppUpdateMapper" parameterType="com.semi.lynk.function.human.model.calendar.VacationApplicationDTO">
        update
            human_resource
        set
            usedLeave = usedLeave + #{usedLeave}
        where
            employee_no = 12;  <!-- 이 사번은 나중에 로그인 연동 할 거-->
<!-- 남은 연차 컬럼은 산술로 가능하니 있을 필요 없음.-->
    </update>

<!--    <insert id="vacAppInsertMapper1" parameterType="com.semi.lynk.function.human.model.calendar.VacationApplicationDTO">-->
<!--        insert into schedule (employee_no, schedule_start_date,-->
<!--                            schedule_end_date, schedule_note, schedule_type)-->
<!--        values (12, #{scheduleStartDate}, #{scheduleEndDate}, #{scheduleNote}, #{leaveType})-->
<!--    </insert> 안 씀-->

    <insert id="vacAppInsertMapper2" parameterType="com.semi.lynk.function.human.model.calendar.VacationApplicationDTO">
        INSERT INTO dayoff
                (employee_no, leave_start_date, leave_end_date, leave_type, draft_no)
        VALUES
                (12, #{leaveStartDate}, #{leaveEndDate}, #{leaveType}, #{draftNo})
    </insert>

    <resultMap id="overTimeAppResultMap" type="com.semi.lynk.function.human.model.calendar.OverTimeApplicationDTO">
        <id property="id" column="employee_no"/>
        <result property="name" column="employee_name"/>
        <result property="scheduleStartDate" column="schedule_start_date"/>
        <result property="scheduleEndDate" column="schedule_end_date"/>
        <result property="scheduleType" column="schedule_type"/>
        <result property="scheduleNote" column="schedule_note"/>
        <result property="workOff" column="work_off"/>
    </resultMap>

    <select id="overTimeAppMapper" resultMap="overTimeAppResultMap">
        select distinct
             employee_name <!-- 결재자 : 사번 , 이름 나중에 연결 / option에 들어갈 애들 -->
        from
            employee
<!--        where-->
<!--            employee_no = 12 &lt;!&ndash; 신청 올리는 애 : 나중에 연결&ndash;&gt;-->
    </select>

    <insert id="overTimeAppDataMapper" parameterType="com.semi.lynk.function.human.model.calendar.OverTimeApplicationDTO">
        insert into schedule (schedule_start_date, schedule_type, employee_no,
                            schedule_note, schedule_end_date)
        values (#{scheduleStartDate} , 0 , 12, #{scheduleNote}, #{scheduleEndDate})
    </insert>
</mapper>