<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.human.model.dao.EmployeeMapper">

    <resultMap id="listResultMap" type="com.semi.lynk.function.human.model.dto.EmployeeDTO">
        <id property="id" column="employee_No"/>
        <result property="pw" column="password"/>
        <result property="name" column="employee_name"/>
        <result property="email" column="email"/>
        <result property="picture" column="image"/>
        <result property="failCount" column="loginFailcount"/>

    </resultMap>

    <select id="employeeFullList" resultMap="listResultMap">
        select
            *
        from
            employee
    </select>

    <resultMap id="joinResultMap" type="com.semi.lynk.function.human.model.dto.EmpAndDepDTO">
        <id property="id" column="employee_no"/>
        <result property="pw" column="password"/>
        <result property="name" column="employee_name"/>
        <result property="email" column="email"/>
        <result property="accountStatus" column="member_status"/>
        <result property="failCount" column="login_fail_count"/>
        <result property="depNo" column="department_no"/>
                <association property="departmentDTO" javaType="com.semi.lynk.function.human.model.dto.DepartmentDTO">
                    <id property="depNo" column="department_no"/>
                    <result property="depName" column="department_name"/>
                </association>
    </resultMap>

    <select id="joinListResult" resultMap="joinResultMap">
    select
         a.employee_no
        ,a.employee_name
        ,a.email
        ,b.department_name
    from
        employee a join department b on (a.department_no = b.department_no)
    order by
        a.employee_no
    </select>

    <!-- 인사 등록 -->
<!--    <insert id="registMapperEmp" parameterType="com.semi.lynk.function.human.model.dto.RegistEmpDTO">-->
<!--        insert into employee (employee_no , employee_name, email)-->
<!--        values (#{id} , #{name}, #{email})-->
<!--    </insert>-->

    <insert id="registMapperhum" parameterType="com.semi.lynk.function.human.model.dto.RegistHumDTO">
        insert into human_resource
        (employee_no, position, mobile_no, address, join_date, employeement_status)
        values
        (#{id}, #{position}, #{phoneNumber}, #{address}, #{date}, #{employeementStatus})
    </insert>
<!--    <update id="registMapperhum" parameterType="com.semi.lynk.function.human.model.dto.RegistHumDTO">-->
<!--        update human_resource-->
<!--        set-->
<!--             employee_no = #{id}-->
<!--            ,position = #{position}-->
<!--            ,mobile_no = #{phoneNumber}-->
<!--            ,address = #{address}-->
<!--            ,join_date = #{date}-->
<!--            ,employeement_status = #{employeementStatus}-->
<!--        where-->
<!--            employee_no = #{id}-->
<!--    </update>-->
</mapper>