<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.human.model.dao.EmployeeMapper">

    <resultMap id="listResultMap" type="com.semi.lynk.function.human.model.dto.EmployeeDTO">
        <id property="id" column="employeeNo"/>
        <result property="pw" column="password"/>
        <result property="name" column="employeeName"/>
        <result property="email" column="emp_email"/>
        <result property="accountStatus" column="memberStatus"/>
        <result property="failCount" column="loginFailcount"/>
    </resultMap>

    <select id="employeeFullList" resultMap="listResultMap">
        select
            *
        from
            employee
    </select>

    <resultMap id="joinResultMap" type="com.semi.lynk.function.human.model.dto.EmpAndDepDTO">
        <id property="id" column="employeeNo"/>
        <result property="pw" column="password"/>
        <result property="name" column="employeeName"/>
        <result property="email" column="email"/>
        <result property="accountStatus" column="memberStatus"/>
        <result property="failCount" column="loginFailcount"/>
                <association property="departmentDTO" javaType="com.semi.lynk.function.human.model.dto.DepartmentDTO">
                    <id property="depNo" column="departmentNo"/>
                    <result property="depName" column="departmentName"/>
                </association>
    </resultMap>

    <select id="joinListResult" resultMap="joinResultMap">
    select
         a.*
        ,b.*
    from
        employee a join department b on (a.departmentNo = b.departmentNo)
    </select>

    <!-- 인사 등록 -->
    <insert id="registEmployee" parameterType="hashmap">
        insert into employee (employeeNo , employeeName, email, picture)
        values (#{data1.id} , #{data1.name}, #{data1.email}, #{data1.picture})
    </insert>

    <insert id="registHuman" parameterType="hashmap">
        insert into humanresource (position, mobileNo , address)
        values (#{data2.position} , #{data2.phoneNumber} , #{data2.address})
    </insert>

</mapper>