<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.approval_system.model.dao.ApprovalMapper">
    <resultMap id="draftResultMap" type="com.semi.lynk.function.approval_system.model.dto.DraftDTO">
        <id property="draftNo" column="draft_no"/>
        <result property="employeeNo" column="employee_no"/>
        <result property="draftTitle" column="draft_title"/>
        <result property="draftDate" column="draft_date"/>
        <result property="draftCompletionTime" column="draft_completion_time"/>
        <result property="draftRetentionSchedule" column="draft_retention_schedule"/>
        <result property="draftState" column="draft_state"/>
        <result property="draftCost" column="draft_cost"/>
        <result property="draftLastStep" column="draft_last_step"/>
        <result property="draftCurrentStep" column="draft_current_step"/>
        <result property="draftMemo" column="draft_memo"/>
        <result property="employeeName" column="employee_name"/>
    </resultMap><!-- -->

    <resultMap id="ApprovalResultMap" type="com.semi.lynk.function.approval_system.model.dto.ApprovalDTO">
        <id property="draftNo" column="draft_no"/>
        <result property="employeeNo" column="employee_no"/>
        <result property="approvalState" column="approval_state"/>
        <result property="approvalStep" column="approval_step"/>
        <result property="approvalPosible" column="approval_posible"/>
        <result property="approvalCompletionTime" column="approval_completion_time"/>
        <result property="approvalMemo" column="approval_memo"/>
        <result property="position" column="position"/>
        <result property="employeeName" column="employee_name"/>
        <result property="departmentName" column="department_name"/>
    </resultMap>

    <resultMap id="EmployeeResultMap" type="com.semi.lynk.function.approval_system.model.dto.EmployeeDTO">
        <result property="employeeNo" column="employee_no"/>
        <result property="employeeName" column="employee_name"/>
        <result property="departmentNo" column="department_no"/>
        <result property="departmentName" column="department_name"/>
        <result property="position" column="position" />
    </resultMap>

    <insert id="insertDraft" parameterType="com.semi.lynk.function.approval_system.model.dto.DraftDTO" useGeneratedKeys="true" keyProperty="draftNo">
        INSERT INTO draftsh (employee_no, draft_title, draft_date, draft_completion_time, draft_retention_schedule, draft_state, draft_cost, draft_last_step, draft_current_step, draft_memo)
        VALUES (#{employeeNo}, #{draftTitle}, #{draftDate}, #{draftCompletionTime}, #{draftRetentionSchedule}, #{draftState}, #{draftCost}, #{draftLastStep}, #{draftCurrentStep}, #{draftMemo});
    </insert>

    <select id="getAllEmployees" resultMap="EmployeeResultMap">
        SELECT
        e.employee_no,
        e.employee_name,
        d.department_no,
        d.department_name,
        h.position
        FROM
        employee e
        LEFT JOIN
        department d ON e.department_no = d.department_no
        LEFT JOIN
        human_resource h ON e.employee_no = h.employee_no
        ORDER BY department_no
    </select>


    <select id="getDraftsCount" parameterType="String">
        <![CDATA[
        SELECT COUNT(*)
        FROM draftsh
        WHERE (employee_no = #{empno}) and (${state})
        ]]>
    </select>

    <select id="getDrafts" parameterType="String" resultMap="draftResultMap">
        <![CDATA[
        SELECT draft_no, employee_no, draft_title, draft_date, draft_completion_time, draft_retention_schedule, draft_state, draft_cost, draft_last_step, draft_current_step, draft_memo, employee_Name
        FROM draftsh join employee using(employee_no)
        WHERE (employee_no = #{empno}) and ${state}
        ORDER BY
        draft_no DESC
        limit #{page}, #{count}
        ]]>
    </select>

    <select id="selectDraftByDNO" parameterType="Long" resultMap="draftResultMap">
        SELECT draft_no, employee_no, draft_title, draft_date, draft_completion_time, draft_retention_schedule, draft_state, draft_cost, draft_last_step, draft_current_step, draft_memo, employee_Name
        FROM draftsh join employee using(employee_no)
        WHERE draft_no = #{draftNo}
    </select>

    <insert id="insertApproval" parameterType="com.semi.lynk.function.approval_system.model.dto.ApprovalDTO">
        INSERT INTO approval (draft_no, employee_no, approval_state, approval_step, approval_posible, approval_completion_time, approval_memo)
        VALUES (#{draftNo}, #{employeeNo}, #{approvalState}, #{approvalStep}, #{approvalPosible}, #{approvalCompletionTime}, #{approvalMemo})
    </insert>

    <select id="selectApproval" resultMap="ApprovalResultMap">
        SELECT
        a.draft_no, a.employee_no, a.approval_state, a.approval_step, a.approval_posible, a.approval_completion_time, a.approval_memo, hr.position, e.employee_name, d.department_name
        FROM
        approval a
        LEFT JOIN
        human_resource hr ON a.employee_no = hr.employee_no
        LEFT JOIN
        employee e ON a.employee_no = e.employee_no
        LEFT JOIN
        department d ON e.department_no = d.department_no
        WHERE
        a.draft_no = #{draftNo}
    </select>

</mapper>