.account-current-status {
    background-color: #efefef;
    padding: 22px;
    margin: 20px;
}

.account-list {
    background-color: #efefef;
    padding: 20px;
    margin: 20px;
    height: 640px;
    max-height: 640px;
    overflow-y: auto;
}

.button-section button {
    margin-right: 10px;
    padding: 8px 12px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: end;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

table td input[type="checkbox"] {
    margin: 0;
}

.exitContainer {
    position: absolute;
    bottom: 2rem;
    left: 17%;
    /*transform: translateX(-50%); 이거 적용하니까 개행이 되길래 잘 조정해보기... */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    color: white;
    opacity: 70%;
}

.exitContainer img {
    width: 40px;
    height: 40px;
}

.exitContainer a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* 테이블 표 폭 맞추기 *********************************/
.fix-th {
    position: absolute;
    display: inline-table;
    width: calc(81% - 12px);
}

.button-section {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1; /* 헤더보다는 아래에 표시되도록 설정 */
    margin-bottom: 10px;
}

.list-section {
    max-height: 530px; /* 본문 높이 설정 */
    overflow-y: auto; /* 본문 내용 스크롤 가능 */
}

/* 테이블 내부의 스타일 조정 */
table.activeAccountListBody {
    width: 100%;
    border-collapse: collapse;
}

table.activeAccountList th,
table.activeAccountList td {
    padding: 8px;
    border: 1px solid #383838;
    box-sizing: border-box;
}
/***********************************************/