/* 전체 컨테이너 */
.container {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* 일반 품의서 제목 */
#page-title {
    text-align: center;
    width: 100%;
    font-size: 28px;
    margin-bottom: 20px;
}

/* 문서 첨부 영역 */
#document-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#document-box {
    border: 1px solid #ccc;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

#document-upload span {
    font-size: 20px;
    color: #333;
}

/* 결재선 영역 */
#approval-section {
    flex: 1;
    margin-left: 20px;
}

.approval-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#approval-list {
    margin-bottom: 20px;
}

/* 파일 첨부 영역 */
#file-section {
    margin-top: 40px;
}

/* 기안하기 버튼 */
#submit-section {
    position: fixed;  /* 화면의 고정 위치를 설정 */
    bottom: 10px;    /* 하단에서 10px 떨어진 위치 */
    right: 10px;     /* 오른쪽에서 10px 떨어진 위치 */
}



