<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>기안 조회</h1>
    <table border="1">
        <tr>
            <th>결재/반려</th>
            <th>메모</th>
            <th>기안번호</th>
            <th>사번</th>
        </tr>


    <tr th:each="approve : ${approveList}" align="center">
        <td th:text="${approve.approver}"></td>
        <td th:text="${approve.authMemo}"></td>
        <td th:text="${approve.draftNo}"></td>
        <td th:text="${approve.employeeNo}"></td>
    </tr>
    </table>
</body>
</html>