<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.lynk.function.db_management.model.dao.DbMapper">

    <insert id="insertinsurance">
        INSERT INTO productManage(product_category,product_no, product_name)
        VALUES (#{productCategory}, #{productNo}, #{productName})
    </insert>

    <select id="selectinsurance" resultType="com.semi.lynk.function.db_management.model.dto.ProductManageDTO">
        SELECT
            product_category AS productCategory,
            product_no AS productNo,
            product_name AS productName
        FROM
            productManage;
    </select>

    <delete id="deleteProduct" parameterType="String">
        DELETE
        FROM
            productManage
        WHERE
            product_no = #{productNo};
    </delete>


    <insert id="insertCustomer">
        INSERT INTO customer (customer_no, customer_name, customer_ssn, customer_mobile, customer_addr, customer_email)
        VALUES (#{customerNo}, #{customerName}, #{customerSsn}, #{customerMobile}, #{customerAddr}, #{customerEmail})
    </insert>

    <select id="selectAllEmployees" resultType="com.semi.lynk.function.db_management.model.dto.EmployeeDTO">
        SELECT
            employee_no AS employeeNo,
            employee_name AS employeeName
        FROM
            employee;
    </select>



</mapper>