<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>activeAccountList</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <nav th:replace="~{/function/management/common/managementNav :: managedNavFragment}" class="nav-class"></nav>
    <header th:replace="~{/function/management/common/managementHeader :: managedHeaderFragment}"></header>

    <section class="main-content">

    </section>

    <aside th:replace="~{/common/aside :: asideFragment}" class="aside-class"></aside>
    <footer th:replace="~{/common/footer :: footerFragment}" class="footer-class"></footer>
</body>
</html>